.interet{
  background-image:url("../images/bg-interet.jpg") ;
  background-size:cover ;
  background-position: center;
  background-attachment: fixed;

  padding: 66px 0 82px 0;
}

.interet .conteneur h3{
  margin-bottom: 18px;
}

.interet .conteneur p :nth-child(1){
  padding: 18px 0 58px 0;
}